<div class="home-wrapper">
    <header >
        <div class="home-top-line">
            <div class="home-logo">
                LOGO
            </div>
            <nav>
                <ul class="home-nav-ul">
                    <a href=""><li>Главная</li></a>
                    <a href=""><li>О нас</li></a>
                    <a href=""><li>Отзывы</li></a>
                </ul>
            </nav>
        </div>
        <div class="header-first-box">
            <h1 class="home-h1">СТРАНА ПРОФЕССИЙ</h1>
            <div class="home-button-box">
                <a href="/login" class="home-button">ВХОД</a>
                <a href="/register" class="home-button home-button-transparent">РЕГИСТРАЦИЯ</a>
            </div>
        </div>
    </header>
</div>