@font-face {
    font-family: oks; /* Имя шрифта */
    src: url(../fonts/oks.otf); /* Путь к файлу со шрифтом */
}

$primary-color-fiolet: #690867;
$primary-color-blue: rgb(91, 173, 180);
$primary-color-yellow: #ffb10e;
$primary-color-red: #ff1000;
$primary-color-white: #ffffff;
$primary-color-black: #000000;
$primary-color-green: #008000;
$primary-color-lime: #1afc05;
$primary-color-grey: #999999;
$light-color-grey: #F5F5F5;

// rgba(0, 119, 177, 0.6)