.image-go-to-account {
    background: url('../../assets/img/user.png') no-repeat 0 0;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.image-go-to-account:hover {
    animation: shake 1s ease infinite;
}
@keyframes shake {
	0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.caption-adder { 
    color: #000000;
    font-family: oks;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
}
.all-prof-flex-conteiner {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
}
.item-prof-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
}
.adder-name-profession {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: "Arial";
    text-align: center; 
}
.adder-item-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 180px;
    height: 180px;
}
.adder-item-image.item-image-doctor {
    background-image: url('../../assets/img/add-doctor.png');
}
.adder-item-image.item-image-cook {
    background-image: url('../../assets/img/add-cook.png');
}
.adder-item-image.item-image-teacher {
    background-image: url('../../assets/img/add-teacher.png');
}
.adder-item-image.item-image-builder {
    background-image: url('../../assets/img/add-builder.png');
}
.adder-item-image.item-image-designer {
    background-image: url('../../assets/img/add-designer.png');
}
.adder-item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: $primary-color-fiolet;
    color: #ffffff;
    cursor: pointer;
    border: none;
}
.adder-item-button:hover {
    transition: all 1s;
    transform: scale(1.1)
}
.adder-item-success-disable {
    color: $primary-color-fiolet;
    position: relative;
    margin-top: 15px;
}
.adder-item-success-disable:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -15px;
    left: -40px;
    background: url('../../assets/img/icon-ok.png') no-repeat 50% 50%;
    background-size: cover;
}
.wrapper-background::before{
    content: '';
    display: block;
    background-color: rgba(185, 185, 185, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}
.adder-popup-wrapper {
    width: 500px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #ffffff;
    text-align: center;
    background: url('../../assets/img/background-test.png') no-repeat 0 0;
    background-size: contain;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}
.adder-popup-title {
    color: #ffffff;
    margin-top: 110px;
    font-weight: 600;
    font-size: 20px;
}
.adder-popup-title.adder-popup-question {
    margin-top: 50px;
    margin-bottom: 50px;
}

.adder-popup-button-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.adder-popup-button-conteiner {
    .adder-item-button {
        margin-top: 20px;
    }
}
.adder-popup.ng-enter {
    transition: all 10s;
    height: 0px;
}

.adder-popup.ng-enter.ng-enter-active {
    height: 30px;
}
.adder-item-success-disable-prof-page {
    font-size: 11px;
    margin-top: 10px;
}
.adder-item-success-disable-prof-page.adder-item-success-disable:before {
    width: 20px;
    height: 20px;
    top: -7px;
    left: -20px;
}