.modalWindowMain:target {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.modalWindowMain {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  user-select: none;
  .modalWindow {
    pointer-events: auto;
    width: 40%;
    height: max-content;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    color: #ffffff;
    background: $primary-color-white;
    background: -moz-linear-gradient($primary-color-fiolet, $primary-color-grey);
    background: -webkit-linear-gradient($primary-color-fiolet, $primary-color-grey);
    background: -o-linear-gradient($primary-color-fiolet, $primary-color-grey);
    .close {
      background: $primary-color-white;
      color: $primary-color-black;
      line-height: 1.5em;
      position: absolute;
      right: -12px;
      text-align: center;
      top: -10px;
      width: 24px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 1.5em;
      box-shadow: 1px 1px 3px $primary-color-black;
    }
    .close:hover {
      background: $primary-color-black;
      color: $primary-color-white;
      cursor: pointer;
    }
    button {
      width: 5em;
      height: 2em;
      border-radius: 3em;
      border: none;
      // border-width: 0.2em;
      border-color: $primary-color-black;
    }
    button:hover {
      background: $primary-color-blue;
      color: $primary-color-white;
    }
  }
}





