.recommendedProf{
  text-align: center;
  background-color: $primary-color-lime;
  form {
    width: 90%;
    text-align: justify;
    .question {
      margin: 1em;
      li{
        margin-top: 0.5em;
        list-style: none;
      }
    }
  }
  .recommendedTestButton{
    height: 2em;
    color: $primary-color-white;
    border-radius: 2em;
    background-color: $primary-color-fiolet;
    padding: 0 0.5em;
  }
}