<div class="wrapper-background">
    <div class="adder-popup-wrapper">
        <p class="adder-popup-title">Профессия<br/>успешно добавлена!</p>
        <p class="adder-popup-title adder-popup-question">Хотите перейти <br/>к обучению?</p>
        <div class="adder-popup-button-conteiner">
            <button class="adder-item-button" ng-click="$ctrl.goToAccount()">В Аккаунт</button>
            <button class="adder-item-button" ng-click="$ctrl.goToProf()">Начать изучение</button>
        </div>
    </div>
</div>
