<div class='conteiner-form'>
    <h2 class="caption-h2">Register</h2>
    <form name='login' noValidate method='post'>

        <input type="text" name='name' class="disable-input" placeholder='You name'/>
        <div class='errormsg'>error</div>
       
        <input type="text" name='surname' class="disable-input" placeholder='You surname'/>
        <div class='errormsg'>error</div>
        
        <input type="email" name='email' class="disable-input" placeholder='You email' />
        <div class='errormsg'>error</div>
        
        <input type="password" name='password' class="disable-input" placeholder='You password'/>
        <div class='errormsg'>error</div>
        
        <button class='button'>Submit</button>
    </form>
    <a class='link'href="/" ui-sref-active="active">Go to Login</a>
</div>