<div class='conteiner-form'>
    <h2 class="caption-h2">Log In</h2>
    <form name='login' noValidate method='post'>
        
        <input type='email' name='email' class='disable-input' placeholder='You email' />
        <div class='errormsg'>error</div>
        
        <input type="password" name='password' class='disable-input' placeholder='You password'/>
        <div class='errormsg'>error</div>

        <button class='button'>Submit</button>
    </form>
    <a class='link' href="/register">Go to Register</a>
</div>