<div class="recommendedProf">
    <article>Любая работа должна приносить удовольствие, и не только материальное, но и духовное. Ты же не хочешь всю жизнь ходить как в воду опущенный по восемь часов ежедневно?
        Именно поэтому мы подготовили для Тебя интересный тест на профориентацию. Он поможет Тебе лучше узнать себя и сделать правильный выбор профессии.</article>
    <form>
        <ul class="question">1. На мой взгляд, контролировать других людей и вести учет — скучное занятие.
            <li><input type="radio" ng-value="0" name="question1" ng-model="$ctrl.question1">Да.</li>
            <li><input type="radio" ng-value="1" name="question1" ng-model="$ctrl.question1">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question1" ng-model="$ctrl.question1">Нет.</li>
        </ul>
        <ul class="question">2. Я лучше буду заниматься финансовыми операциями, чем выступать на сцене.
            <li><input type="radio" ng-value="2" name="question2" ng-model="$ctrl.question2">Да.</li>
            <li><input type="radio" ng-value="1" name="question2" ng-model="$ctrl.question2">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question2" ng-model="$ctrl.question2">Нет.</li>
        </ul>
        <ul class="question">3. Никогда точно не рассчитываю время, которое трачу на дорогу в школу. Для меня это
            кажется невозможным.
            <li><input type="radio" ng-value="0" name="question3" ng-model="$ctrl.question3">Да.</li>
            <li><input type="radio" ng-value="1" name="question3" ng-model="$ctrl.question3">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question3" ng-model="$ctrl.question3">Нет.</li>
        </ul>
        <ul class="question">4. Риск — мое второе «Я».
            <li><input type="radio" ng-value="0" name="question4" ng-model="$ctrl.question4">Да.</li>
            <li><input type="radio" ng-value="1" name="question4" ng-model="$ctrl.question4">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question4" ng-model="$ctrl.question4">Нет.</li>
        </ul>
        <ul class="question">5. Терпеть не могу беспорядок.
            <li><input type="radio" ng-value="2" name="question5" ng-model="$ctrl.question5">Да.</li>
            <li><input type="radio" ng-value="1" name="question5" ng-model="$ctrl.question5">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question5" ng-model="$ctrl.question5">Нет.</li>
        </ul>
        <ul class="question">6. Охотно проведу свободное время за книгой о достижениях в сфере науки.
            <li><input type="radio" ng-value="2" name="question6" ng-model="$ctrl.question6">Да.</li>
            <li><input type="radio" ng-value="1" name="question6" ng-model="$ctrl.question6">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question6" ng-model="$ctrl.question6">Нет.</li>
        </ul>
        <ul class="question">7. Мои записи обычно не слишком хорошо структурированы и организованы.
            <li><input type="radio" ng-value="0" name="question7" ng-model="$ctrl.question7">Да.</li>
            <li><input type="radio" ng-value="1" name="question7" ng-model="$ctrl.question7">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question7" ng-model="$ctrl.question7">Нет.</li>
        </ul>
        <ul class="question">8. Я всегда откладываю часть денег на потом, не тратя все и сразу.
            <li><input type="radio" ng-value="2" name="question8" ng-model="$ctrl.question8">Да.</li>
            <li><input type="radio" ng-value="1" name="question8" ng-model="$ctrl.question8">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question8" ng-model="$ctrl.question8">Нет.</li>
        </ul>
        <ul class="question">9. У меня на рабочем столе скорее беспорядок, чем безупречный порядок.
            <li><input type="radio" ng-value="0" name="question9" ng-model="$ctrl.question9">Да.</li>
            <li><input type="radio" ng-value="1" name="question9" ng-model="$ctrl.question9">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question9" ng-model="$ctrl.question9">Нет.</li>
        </ul>
        <ul class="question">10. Люблю выполнять задания согласно инструкции, или по четко указанным алгоритмам.
            <li><input type="radio" ng-value="2" name="question10" ng-model="$ctrl.question10">Да.</li>
            <li><input type="radio" ng-value="1" name="question10" ng-model="$ctrl.question10">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question10" ng-model="$ctrl.question10">Нет.</li>
        </ul>
        <ul class="question">11. Если бы я был коллекционером, то хранил все упорядочено: в папках, ящиках, на полочках и т. п.
            <li><input type="radio" ng-value="2" name="question11" ng-model="$ctrl.question11">Да.</li>
            <li><input type="radio" ng-value="1" name="question11" ng-model="$ctrl.question11">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question11" ng-model="$ctrl.question11">Нет.</li>
        </ul>
        <ul class="question">12. Я раздражаюсь, когда нужно навести порядок в комнате, упорядочить или систематизировать что-то.
            <li><input type="radio" ng-value="0" name="question12" ng-model="$ctrl.question12">Да.</li>
            <li><input type="radio" ng-value="1" name="question12" ng-model="$ctrl.question12">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question12" ng-model="$ctrl.question12">Нет.</li>
        </ul>
        <ul class="question">13. Люблю работать за компьютером — набирать и оформлять тексты, делать расчеты.
            <li><input type="radio" ng-value="2" name="question13" ng-model="$ctrl.question13">Да.</li>
            <li><input type="radio" ng-value="1" name="question13" ng-model="$ctrl.question13">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question13" ng-model="$ctrl.question13">Нет.</li>
        </ul>
        <ul class="question">14. Прежде чем приступить к делу, я подробно продумаю свои действия.
            <li><input type="radio" ng-value="2" name="question14" ng-model="$ctrl.question14">Да.</li>
            <li><input type="radio" ng-value="1" name="question14" ng-model="$ctrl.question14">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question14" ng-model="$ctrl.question14">Нет.</li>
        </ul>
        <ul class="question">15. Считаю, что черпать информацию из таблиц и графиков — удобно и быстро.
            <li><input type="radio" ng-value="2" name="question15" ng-model="$ctrl.question15">Да.</li>
            <li><input type="radio" ng-value="1" name="question15" ng-model="$ctrl.question15">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question15" ng-model="$ctrl.question15">Нет.</li>
        </ul>
        <ul class="question">16. Я в восторге от игр, где можно рассчитать шансы на победу и сделать осторожный, но точный ход.
            <li><input type="radio" ng-value="2" name="question16" ng-model="$ctrl.question16">Да.</li>
            <li><input type="radio" ng-value="1" name="question16" ng-model="$ctrl.question16">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question16" ng-model="$ctrl.question16">Нет.</li>
        </ul>
        <ul class="question">17. Изучая иностранный язык, нужно начать с грамматики, а не получать разговорный опыт без знания грамматических основ.
            <li><input type="radio" ng-value="2" name="question17" ng-model="$ctrl.question17">Да.</li>
            <li><input type="radio" ng-value="1" name="question17" ng-model="$ctrl.question17">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question17" ng-model="$ctrl.question17">Нет.</li>
        </ul>
        <ul class="question">18. Я всегда стараюсь всесторонне изучить проблему, с которой сталкиваюсь
            (поискать информацию в сети, прочитать необходимую литературу, проконсультироваться со специалистами).
            <li><input type="radio" ng-value="2" name="question18" ng-model="$ctrl.question18">Да.</li>
            <li><input type="radio" ng-value="1" name="question18" ng-model="$ctrl.question18">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question18" ng-model="$ctrl.question18">Нет.</li>
        </ul>
        <ul class="question">19. Когда я пишу письмо, мне важнее:
            <li><input type="radio" ng-value="2" name="question19" ng-model="$ctrl.question19">Логичность текста.</li>
            <li><input type="radio" ng-value="1" name="question19" ng-model="$ctrl.question19">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question19" ng-model="$ctrl.question19">Образность изложения.</li>
        </ul>
        <ul class="question">20. У меня есть дневник, в котором я планирую свои дела на несколько суток вперед.
            <li><input type="radio" ng-value="2" name="question20" ng-model="$ctrl.question20">Да.</li>
            <li><input type="radio" ng-value="1" name="question20" ng-model="$ctrl.question20">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question20" ng-model="$ctrl.question20">Нет.</li>
        </ul>
        <ul class="question">21. Я не пропускаю возможности посмотреть выпуск политических и экономических новостей.
            <li><input type="radio" ng-value="2" name="question21" ng-model="$ctrl.question21">Да.</li>
            <li><input type="radio" ng-value="1" name="question21" ng-model="$ctrl.question21">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question21" ng-model="$ctrl.question21">Нет.</li>
        </ul>
        <ul class="question">22. Я хотел бы, что моя профессия...
            <li><input type="radio" ng-value="0" name="question22" ng-model="$ctrl.question22">Каждый раз дарила мне новую порцию адреналина.</li>
            <li><input type="radio" ng-value="1" name="question22" ng-model="$ctrl.question22">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question22" ng-model="$ctrl.question22">Погружала меня в состояние покоя и давала ощущение защищенности.</li>
        </ul>
        <ul class="question">23. Я выполняю работу в последний момент.
            <li><input type="radio" ng-value="0" name="question23" ng-model="$ctrl.question23">Да.</li>
            <li><input type="radio" ng-value="1" name="question23" ng-model="$ctrl.question23">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question23" ng-model="$ctrl.question23">Нет.</li>
        </ul>
        <ul class="question">24. Попользовавшись книгой, я всегда ставлю ее на место.
            <li><input type="radio" ng-value="2" name="question24" ng-model="$ctrl.question24">Да.</li>
            <li><input type="radio" ng-value="1" name="question24" ng-model="$ctrl.question24">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question24" ng-model="$ctrl.question24">Нет.</li>
        </ul>
        <ul class="question">25. Ложась в постель, я точно знаю, чем буду заниматься завтра.
            <li><input type="radio" ng-value="2" name="question25" ng-model="$ctrl.question25">Да.</li>
            <li><input type="radio" ng-value="1" name="question25" ng-model="$ctrl.question25">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question25" ng-model="$ctrl.question25">Нет.</li>
        </ul>
        <ul class="question">26. В своих действиях и словах руководствуюсь принципом «Семь раз отмерь, один — отрежь».
            <li><input type="radio" ng-value="2" name="question26" ng-model="$ctrl.question26">Да.</li>
            <li><input type="radio" ng-value="1" name="question26" ng-model="$ctrl.question26">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question26" ng-model="$ctrl.question26">Нет.</li>
        </ul>
        <ul class="question">27. Если меня ждет ответственное дело, я непременно составлю план его выполнения.
            <li><input type="radio" ng-value="2" name="question27" ng-model="$ctrl.question27">Да.</li>
            <li><input type="radio" ng-value="1" name="question27" ng-model="$ctrl.question27">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question27" ng-model="$ctrl.question27">Нет.</li>
        </ul>
        <ul class="question">28. После долгих посиделок с друзьями я мою посуду уже утром.
            <li><input type="radio" ng-value="0" name="question28" ng-model="$ctrl.question28">Да.</li>
            <li><input type="radio" ng-value="1" name="question28" ng-model="$ctrl.question28">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="2" name="question28" ng-model="$ctrl.question28">Нет.</li>
        </ul>

        <ul class="question">29. Я ответственно отношусь к своему здоровью.
            <li><input type="radio" ng-value="2" name="question29" ng-model="$ctrl.question29">Да.</li>
            <li><input type="radio" ng-value="1" name="question29" ng-model="$ctrl.question29">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question29" ng-model="$ctrl.question29">Нет.</li>
        </ul>
        <ul class="question">30. Если у меня что-то не получается, я...
            <li><input type="radio" ng-value="2" name="question30" ng-model="$ctrl.question30">Терпеливо ищу решение.</li>
            <li><input type="radio" ng-value="1" name="question30" ng-model="$ctrl.question30">Затрудняюсь ответить.</li>
            <li><input type="radio" ng-value="0" name="question30" ng-model="$ctrl.question30">Раздражаюсь и злюсь.</li>
        </ul>
    </form>
    <button ng-click="$ctrl.getResult($ctrl.form)" class="recommendedTestButton">Узнать результат</button>
    <modal-window ng-show="$ctrl.showModalWindow"></modal-window>
</div>