<div class="designer-lesson-wrapper home-wrapper">
    <div class="header-top-line">
        <div class="header-logo"></div>
            <nav>
                <ul class="header-nav-ul">
                    <a href="/account-page"><li class="image-go-to-account"></li></a>
                </ul>
            </nav>
        </div>
    </div>
    <div class="text-number-lesson">
        Урок 1
    </div>
    <div class="lesson-title">
        Основы
    </div>
    <div class="first-conteiner-bg"></div>
    <div class="second-conteiner">
        <p class="block-title">Дизайнер может</p>
        <div class="content-block home-wrapper">
            Он конструирует мир для пользователя – удобный и симпатичный. Он знает, что сконструировано хорошо, а что плохо. Кому-то ведь нужно это решать.   Представьте себе, что этот кто-то смотрит на чертежи космического корабля, трогает проводки, сидит в креслах, надевает скафандры, дышит кислородом – и ставит свою  подпись: «Проверено. Одобрено. Всё хорошо, удобно и безопасно». Этот человек мыслит как дизайнер.
        </div>
    </div>
    <div class="second-conteiner right">
            <p class="block-title">Дизайнер cоздает</p>
            <div class="content-block home-wrapper">
                Он конструирует мир для пользователя – удобный и симпатичный. Он знает, что сконструировано хорошо, а что плохо. Кому-то ведь нужно это решать.   Представьте себе, что этот кто-то смотрит на чертежи космического корабля, трогает проводки, сидит в креслах, надевает скафандры, дышит кислородом – и ставит свою  подпись: «Проверено. Одобрено. Всё хорошо, удобно и безопасно». Этот человек мыслит как дизайнер.
            </div>
        </div>
        <div class="second-conteiner">
                <p class="block-title">Дизайнер думает</p>
                <div class="content-block home-wrapper">
                    Он конструирует мир для пользователя – удобный и симпатичный. Он знает, что сконструировано хорошо, а что плохо. Кому-то ведь нужно это решать.   Представьте себе, что этот кто-то смотрит на чертежи космического корабля, трогает проводки, сидит в креслах, надевает скафандры, дышит кислородом – и ставит свою  подпись: «Проверено. Одобрено. Всё хорошо, удобно и безопасно». Этот человек мыслит как дизайнер.
                </div>
            </div>
        <div class="second-conteiner  right">
                <p class="block-title">Дизайнер конструирует</p>
                <div class="content-block home-wrapper">
                    Он конструирует мир для пользователя – удобный и симпатичный. Он знает, что сконструировано хорошо, а что плохо. Кому-то ведь нужно это решать.   Представьте себе, что этот кто-то смотрит на чертежи космического корабля, трогает проводки, сидит в креслах, надевает скафандры, дышит кислородом – и ставит свою  подпись: «Проверено. Одобрено. Всё хорошо, удобно и безопасно». Этот человек мыслит как дизайнер.
                </div>
            </div>
        <div class="confirm-button" ng-click="$ctrl.putLessonLevelUp()">
            Урок Изучен
        </div>
</div>