<div class="accountPage">
    <div class="header">
        <ul>
            <li>LOGO</li>
            <li><a ng-href="#">главная</a></li>
            <li><a ng-href="#">профессии</a></li>
            <li><a ng-href="#">рожица</a></li>
            <li><a ng-href="#">настройки</a> </li>
            <li>
                <button ng-click="$ctrl.exitAccount()">Close</button>
                <modal-window ng-show="$ctrl.showModalWindow"></modal-window>
            </li>
        </ul>
    </div>


        <div class="account">
            <div class="accountTop">
                <div class="accountTopLeft">
                        Photo
                </div>
                    <div class="accountTopRight">
                        <span>{{$ctrl.userName+" "+$ctrl.userSurname}}</span><br/>
                        <div><span>Рекомендованные профессии: </span><span>{{5+5}}</span>
                            <a ng-href="/recommended-profession">Пройти тест</a>
                        </div>
                    </div>
            </div>

            <div class="accountBottom">
                <div class="progressProfession" ng-repeat="profession in $ctrl.userProfessions">
                    <button class="myProfession" ng-click="$ctrl.goToProfession($event)">{{profession}}</button>
                    <br/>
                    <progress max='10' value={{$ctrl.professionProgressLevel}}></progress>
                    <br/>
                    {{$ctrl.professionProgressLevel}} уровень
                </div>

                <div class="addNewProfession">
                    <button class="myProfession" ng-click="$ctrl.addNewProfession()"><i>+</i></button>
                    <br/>
                    <span>Новая профессия</span>
                </div>
            </div>
        </div>
        <div class="footer">CCC</div>
</div>